
   h1{
    font-family: 'Beau Rivage', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 200px;
    text-align: center;
    color: white;
   }
     h2{
       font-size: 60px;
       text-decoration: underline;
       text-align: center;
       color: rgb(11, 3, 51);
       font-family: 'Beau Rivage', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
   }
   .plan{
     display: grid;
     grid-gap:1vh;
     margin: 0 10px;
     width: 20%;
   }
   #p9{
    padding: 15px;
    background-color: rgb(247, 229, 206);
    box-shadow: 3px 3px 3px grey;
    font-size: medium;
    color: rgb(3, 5, 24);
    width: 20%;
    margin: 1vh 10px;
 


   }
   
   .plan li{
     padding: 15px;
     background-color: rgb(247, 229, 206);
     box-shadow: 3px 3px 3px grey;
     font-size: medium;
     color: rgb(3, 5, 24);
   }
   
   h3{
     color: rgb(155, 14, 143);
     font-family: 'Beau Rivage', cursive;
     font-family: 'Lobster', cursive;
     font-family: 'Pacifico', cursive;
   }
   #grid1{
     display: grid;
     grid-template-columns: 2fr 1fr ;
width: 100%;
padding:2%;
gap: 5vh;
   }
   #grid2 {
     display: grid;
     grid-template-columns: 2fr 2fr  ;
     width: 100%;
     gap: 2vh;

   }
  
   
  
   
  
   *{
       list-style: none;
       margin: 0px;
       padding: 0px;
       box-sizing: border;
   }
   #page1{
   
      background-image: url(dev.jpg);
   color: white;
   font-size: xx-large;
  background-size: cover;
     font-family: 'Beau Rivage', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
       
   }
   .m{
     background-color: rgb(216, 205, 205);
     color: black;
     border: black;
     box-shadow: 10px 10px rgb(12, 12, 94);
     font-size: 4vh;
     text-align: justify;
   }
   #image {
     padding-left: 20vh;
     padding-top: 5vh;
   }
   .titre{
   
     text-decoration: none;
    
     text-align: left;
   padding-left: 10px;
   font-size: 5vh;
  
   color: rgb(155, 14, 143);
     font-family: 'Beau Rivage', cursive;
     font-family: 'Lobster', cursive;
     font-family: 'Pacifico', cursive;

   }
   .aaa{
    background-color: rgb(216, 205, 205);
    color: black;
    border: black;
    box-shadow: 10px 10px rgb(12, 12, 94);
    font-size: 3vh;
    text-align: justify;
    margin: 2vh 2vh;
    padding: 2vh 3vh;


   }
   
  
  video{
    text-align: center;
  }
  
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}

.fleft { float:left;}
.padding-right { padding-right:10px; }



.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
